@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  /* background: */
  text-align: center;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
font-family: 'Press Start 2P', cursive;
}

#alertContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
  }

  #alertContainerInner {
    width: 40%;
    background-color: #DFDCE3;
    padding: 20px;
    border-radius: 8px;
  }

  h1{
    color: orange;
  }

  h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #FC4A1A;
    z-index: 1;
    display: none;
    position: relative;
  }

   h2, td, button, .X{
    color: #DFDCE3;
  }
  th{
      color: yellow;
  }

  table {
    margin: 20px auto;
    width: 30%;
  }

  table.board {
    border-collapse: collapse;
    font-size: 50px;
  }

  .O, .playerTwoScore {
    color: #F7B733;
  }

  .board td {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 5px solid #DFDCE3;
    cursor: pointer;
  }

  /* .board tr td:first-child {
    border-left: none;
  }

  .board tr td:last-child {
    border-right: none;
  }

  .board tr:first-child td {
    border-top: none;
  }

  .board tr:last-child td {
    border-bottom: none;
  } */

  button {
    background-color: #F7B733;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
  }

  button:hover {
    background-color: #f8c154;
    cursor: pointer;
    background-color:
  }

.shards img{
  width: 50px;
	animation: bub 7s linear infinite;
}

  .shards{
  	width: 100%;
  	display: flex;
  	align-items: center;

  	justify-content: space-around;
  	position: absolute;
  	bottom: -70px;
  }




  @keyframes bub{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{

		opacity: 1;
	}
	75%{

		opacity: 1;
	}
	100%{
		transform: translateY(-80vh);
		opacity: 0;
	}
}

.shards img:nth-child(1){
	animation-delay: 2s;
	width: 25px;
}
.shards img:nth-child(2){
	animation-delay: 1s;
}
.shards img:nth-child(3){
	animation-delay: 3s;
	width: 25px;
}
.shards img:nth-child(4){
	animation-delay: 4.5s;
}
.shards img:nth-child(5){
	animation-delay: 3s;
}
.shards img:nth-child(6){
	animation-delay: 6s;
	width: 20px;
}
.shards img:nth-child(7){
	animation-delay: 7s;
	width: 35px;
}
